* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    footer {
        width: 100%;
        padding: 0px 145px 30px 145px;

        .box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .box-1 {
                .images-1 {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-bottom: 25px;

                    img {
                        width: 32px;
                        height: 29.09px;
                    }

                    h2 {
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }

                .images-2 {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }

            .box-2 {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    li {
                        b {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #FFFFFF;
                        }

                        a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 35px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #FFFFFF;
                            opacity: 75%;
                        }
                    }
                }
            }

            .box-3 {
                h2 {
                    width: 280px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    margin-bottom: 34px;
                }

                .color {
                    width: 325px;
                    height: 48px;
                    background-color: #FFFFFF;
                    margin-bottom: 21px;
                }

                button {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: #02897A;
                    padding: 8px 15px;
                    border: none;
                    border-radius: 8px;
                }
            }
        }

        P {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            opacity: 75%;
        }
    }
}
@media (min-width:800px) and (max-width:1400px){
    .container{
        footer{
            padding: 0px 80px 125px 80px;
        }
    }
}
@media (min-width:300px) and (max-width:800px) {
    .container{
        footer{
            padding: 0px 30px 100px 30px;
            .box{
                display: flex;
                flex-direction: column;
                align-items:center;
                .box-1{
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                }
                .box-2{
                    margin-bottom: 30px;
                    ul{
                        display: flex;
                    flex-direction: column;
                    align-items:center;
                    }
                }
                .box-3{
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    margin-bottom: 30px;
                    h2{
                        text-align: center;
                    }
                    .color{
                        max-width: 300px;
                    }
                }
            }
        }
    }
}